################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/SoftSunlight.WebSocket/v16
/SoftSunlight.WebSocket/obj
/SoftSunlight.WebSocket/bin/Debug/netstandard2.0
/SoftSunlight.WebSocketTest/bin/Debug/netcoreapp3.1
/SoftSunlight.WebSocketTest/obj
/.vs/SoftSunlight.WebSocket/DesignTimeBuild
/SoftSunlight.WebSocketClientTest/bin/Debug/netcoreapp3.1
/SoftSunlight.WebSocketClientTest/obj
/SoftSunlight.WebSocketServerTest/bin/Debug/netcoreapp3.1
/SoftSunlight.WebSocketServerTest/obj
/SoftSunlight.WebSocket/bin/Release/netstandard2.0
/SoftSunlight.WebSocketServerTest/bin/Release/netcoreapp3.1
/SoftSunlight.WebSocketServerTest/Properties
